<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>Test Result</title>
  <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="main.css"/>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>
  <script>document.write("<base href=\"" + document.location + "\" />");</script>
  <script src="app.js"></script>
</head>
<body>
<h1>User Info</h1>
<label>E-mail</label>
<input type="email" ng-model="user.email">
<label>Last name</label>
<input type="text" ng-model="user.lastName">
<label>First name</label>
<input type="text" ng-model="user.firstName">
<label>Website</label>
<input type="url" ng-model="user.website">
<label>Description</label>
<textarea ng-model="user.description"></textarea>
<label>Password (must be between 3 and 10 characters, and contain at least one numeral and one alphabetic character)</label>
<input type="password" ng-model="user.password" ng-minlength="3" ng-maxlength="10" ng-pattern="/^.*(?=.*\d)(?=.*[a-zA-Z]).*$/">
<label>Password (repeat)</label>
<input type="password" ng-model="repeatPassword">
<label>Roles</label>
<label class="checkbox"><input type="checkbox" ng-model="user.admin"> Is Administrator</label>
<h1>User Info</h1>
<label>Sex</label>
<label class="radio"><input type="radio" ng-model="user.sex" value="male"> Male</label>
<label class="radio"><input type="radio" ng-model="user.sex" value="female"> Female</label>

<div ng-controller="selectCtrl">
<select ng-controller="selectCtrl" ng-model="myChoice">
  <option ng-repeat="option in options" value="{{option.value}}" ng-selected="option.value == myChoice">{{option.name}}</option>
</select>
<div>Value = {{myChoice}}</div>
</div>

<pre ng-bind="user | json"></pre>

<div ng-controller="mainCtrl">
  <label>Select a user value with email for label</label>
  <select ng-model="chosenUser" ng-options="user.email for user in users"></select>
  Selected User: {{ chosenUser }}
  <label>Select a user value with a computed label</label>
  <select ng-model="chosenUser" ng-options="getFullName(user) for user in users"></select>
  Selected User: {{ chosenUser }}
  <label>Select a user's email with a computed label</label>
  <select ng-model="chosenUserEmail" ng-options="user.email as getFullName(user) for user in users"></select>
  Selected User's Email: {{ chosenUserEmail }}
  <label>Select a user grouped by sex</label>
  <select ng-model="chosenUser" ng-options="getFullName(user) group by user.sex for user in users"></select>
  Selected User: {{ chosenUser }}
</body>
</div>
</body>

</html>
