<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real Time Markdown Viewer</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="container-fluid">
    <section class="row">
        <textarea name="pad" id="pad"  class="col-md-6 full-height">
            write your owner text
        </textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>
    <script src="../../node_modules/showdown/dist/showdown.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>