<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Js samples</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../css/app.css"/>
</head>
<body>
<div class="container" id="demo">
    <input type="text" v-model="name"/>
    <pre>{{ $data | json }}</pre>
    <ul class="list-group">
        <li v-repeat="name:names">
            <span>{{ name }}</span>
        </li>
    </ul>

    <input type="text" placeholder="add one new name"
           v-model="newName"
            v-on="blur:addName, keyup:onKeyUp"/>
</div>



<script src="../../bower_components/vue/dist/vue.min.js"></script>
<script src="app.js"></script>
</body>

</html>