<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Http Basic</title>
  <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="httpbasic.js"></script>
</head>
<body ng-app="basic" ng-controller="basicCtrl">
<hr/>
<div class="container">
  <button ng-click="name()">$http get name</button>
  <button ng-click="getNameThen()">$http get name then</button>
  <pre>Hello, {{data.name}}!</pre>
</div>
<hr/>
<div>
  <button ng-click="queryUsers()">$http GET</button>
  <pre>{{users | json}}</pre>
</div>
<hr/>
<div>
  <button ng-click="queryUsersG()">$http get generic</button>
  <pre>{{userG | json}}</pre>
</div>

<div>
  <button ng-click="addUser()">$http POST</button>
  <pre>{{newUser | json }}</pre>
</div>
</body>

</html>
