html, body {
    margin-top: 0;
    margin-left: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a, a:hover {
    cursor: pointer;
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner-wrapper {
    height: 30px;
    width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

.banner-logo {
    width: 26px;
    height: 26px;
    background-image: url("../img/postman_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-top: 2px;
}

.banner-text {
    color: white;
    font-family: 'Titillium Web';
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}