body {
    color: cadetblue;
}


h1,h2,h3,a {
    color: blueviolet;
    font-size:30px;
}

a:link {
    font-style: italic;
    font-size: 50px;
}
a:visited {
    color: green;
}
a:hover {
    color: blueviolet;
}
a:active{
    color: blanchedalmond;
}
p strong {
    font-style: italic;
    font-size: 20px;
    color: red;
}

#container {
    color: green;
}

.div_class{
    color:darkred;
}

[div_property=t] {
    color: darkorange;
}

#name,tr,th,td{
    border: 1px solid blueviolet;
    text-align: center;
    background-color: blue;
}

#name {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}