<form method="post" class="form-horizontal">
    <fieldset>
        <legend>user login</legend>
        <div class="control-group">
            <label for="username" class="control-label">username</label>
                <div class="controls">
                    <input type="text" class="input-xlarge"
                           id="username" name="username"/>
                </div>
        </div>
        <div class="control-group">
            <lable class="control-label" for="password">password</lable>
            <div class="controls">
                <input type="password" id="password" name="password"/>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    login
                </button>
            </div>
        </div>
    </fieldset>
</form>