<div ng-include="'partials/navbar'"></div>
<div class="dui-doc-banner clearfix">
    <div class="container">

        <div class="pull-left">
            <h1 style="margin-top: 60px;">
                欢迎来到DUI！
            </h1>

            <h2>
                属于你的开发【军火库】！
            </h2>
        </div>
        <a href="http://dui.dooioo.com/public/demo/DUI.htm" target="_blank" title="查看DUI">
            <img src="images/dui.png" alt=""/>
        </a>
    </div>
</div>
<div class="container">
    <ul class="dui-list clearfix">
        <li ng-repeat="d in docs">
            <a ng-href="/doc/{{d.link}}">
                <img ng-src="http://dui.dooioo.com/public/demonew/{{d.link}}/preview.png"
                     onerror="this.src='images/yeoman.png'">
                <h4>{{d.text}}</h4>
            </a>
        </li>
    </ul>

    <br>
    <br>
</div>
<hr>
<div class="container">

    <footer>
        <p>© Dooioo 2014</p>
    </footer>
</div>
