<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Samples -Git commits</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
<div id="demo">
    <h1>latest Vue.js Commits</h1>
    <template v-for="branch in branches">
        <input type="radio" name="branch" :id="branch" :value="branch" v-model="currentBranch"/>
        <label :for="branch">{{branch}}</label>
    </template>
    <p>branch@{{currentBranch}}</p>
    <ul>
        <li v-for="record in commits">
            <a :href="record.html_url" class="commit">
                {{record.sha.slice(0,7}}
                - <span class="message">{{record.commit.message | truncate}}</span><br>
                by <span class="author">{{record.commit.author.name}}</span>
                at <span class="date">{{record.commit.author.date | formatDate}}</span>
            </a>
        </li>
    </ul>
</div>
<script src="app.js"></script>
</body>
</html>