body {
  overflow-y: scroll;
  background-color: #ebebeb;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #24243a;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(200, 198, 246, 0.89);
}
.container{

}
/*
.navbar {
  border-radius: 0;
  background-color: #be191b;
  border-width: 0;
  z-index: 1010;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  min-height: 44px;

  a {
    color: #fff;
  }
}
.nav > li > a:hover, .nav > li > a:focus {
  background: #9f0c0e;
}
.nav > li.active a {
  background: #9f0c0e;
}
*/

.animate {
	-webkit-transition: .3s all ease;
	-moz-transition: .3s all ease;
	-ms-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}
// Page Main
.dui-plug-list-wrapper {
    margin-top: 20px;

	h2 {
		font-weight: normal;
		margin: 0;
		font-size: 16px;
		line-height: 2em;
		padding: 8px 0;
	}
	.menu {
	    width: 17%;
	    float: left;
	}
	.menu nav a {
	    display: block;
	    color: #666;
	    font-size: 14px;
	    padding: 5px 0;
	}

  /*.preview {
    width: 83%;
    float: right;
  }*/
}
div[nav] {
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: content-box;
		z-index: 8999;
		background-color: #24243a;
		a:not(.current) {
			color: #fff;
		}
	}
}
//AngularJs版组件与jQuery组件导航
.nav-component {
	line-height: 35px;
	min-height: 35px;
	border-bottom: 2px solid #ccc;

	a {
		color: #24243a;
		position: relative;
		display: inline-block;
		min-width:160px;
		text-align: center;
		margin-bottom: -1px;

		&:hover {
			text-decoration: none;
		}

		&:not(:last-child):after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 6px;
			width: 1px;
			height: 20px;
			background-color: #ccc;
		}

		&.current {
			color: #31b3b6;
			border-bottom: 4px solid;
		}
	}
}
.new-articles-wrapper {
	background-color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
	overflow: hidden;

	a {
		color: #31b1b6;
	}
	h4 {
		height: 40px;
		line-height: 34px;
		background-color: #24243a;
		color: #fff;
	}
	ul,h4 {
	    margin: 0;
	    padding: 3px 10px;
	}
	ul {
		list-style: none;
		font-size: 13px;
		line-height: 1.5em;
	}
    li {
	  padding: 3px 0;
    }
  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 265px;
    display: inline-block;
  }
}

.search-panel {
  width: 250px;
  .form-group {
    margin: 0;
  }
}

.item-list {
  background: #fff;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.item-list li {
  list-style: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item-list li:last-child {
  border-bottom: none;
}

.article-title {
  width: 270px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dui-list {
    display: block;
    padding: 0;
	margin-left: -20px;
    li {
	    display: block;
	    float: left;
	    margin: 0px 0 15px 20px;
	    background-color: #fff;

	    &:hover {
		    a {
			    background: #ddffdd;
			    text-decoration: none;
		    }

		    i.glyphicon.glyphicon-search {
			    -webkit-transform: scale(1,1);
			    -moz-transform: scale(1,1);
			    -ms-transform: scale(1,1);
			    -o-transform: scale(1,1);
			    transform: scale(1,1);
			    opacity: 1;
			    color: #fff;
		    }
		    img {
			    -webkit-transform: scale(1.2,1.2);
			    -moz-transform: scale(1.2,1.2);
			    -ms-transform: scale(1.2,1.2);
			    -o-transform: scale(1.2,1.2);
			    transform: scale(1.2,1.2);
		    }

		    h4 {
			    text-indent: .3em;
		    }
	    }
    }
	img {
		width: 226px;
		max-height: 166px;
		margin: auto;
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-o-transform: scale(1,1);
		transform: scale(1,1);
	}

	a {
		display: block;
		position: relative;
		width: 236px;
		height: 176px;
		overflow: hidden;
		background: #fff;
		padding: 5px;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	}

	i.glyphicon.glyphicon-search {
		-webkit-transform: scale(5,5);
		-moz-transform: scale(5,5);
		-ms-transform: scale(5,5);
		-o-transform: scale(5,5);
		transform: scale(5,5);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		line-height: 176px;
		opacity: 0;
		background-color: rgba(11, 11, 11, 0.72);
		text-align: center;
		font-size: 60px;
	}

    h4 {
        font-size: 14px;
	    line-height: 1.5em;
        color: #666;
        padding: 5px 5px;
        margin: 0;
    }
}


.update-info {
  font-size: 13px;
}

.cate-panel {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 280px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.open .cate-panel {
  display: block;
}

.cate-panel ul {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
  list-style-type: none;
  border-right: 1px solid #ddd;
}

.cate-panel ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.cate-panel li.current a,
.cate-panel li a:hover,
.cate-panel li a:focus {
  text-decoration: none;
  color: #262626;
  background-color: whitesmoke;
}

.cate-panel li a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.cate-panel li:hover > a:after {
  border-left-color: #fff;
}

.cate-panel .tag-panel {
  float: right;
  width: 150px;
  white-space: normal;
  word-break: break-all;
}

.cate-panel .tag-panel .label {
  display: inline-block;
  margin: 0 5px 5px 0;
  cursor: pointer;
}

.cate-panel .tag-panel .label.checked {
  background: blue;
}

.tag-panel .glyphicon-remove {
  margin: 0 5px;
  cursor: pointer;
}



// article detail
.article-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
}
.article-header h1 {
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
  font-size: 24px;
}
.article-header p {
  color: #999;
  font-size: 14px;
}

.mdbody header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.mdbody header h1 {
  margin: 0;
  padding-bottom: 8px;
}
.mdbody iframe {
  width: 100%;
  border:none;
  outline: 1px dashed #ddd;
}

.mdbody {
  font-size: 14px;
  line-height: 1.7;
  overflow: hidden;
  color: #090909;
  font-family: Georgia, "Times New Roman", Times, "Songti SC", "SimSun", serif;
}
.mdbody p {
  font-size: 14px;
}
.mdbody>*:first-child {
  margin-top: 0 !important;
}
.mdbody>*:last-child {
  margin-bottom: 0 !important;
}
.mdbody h1,
.mdbody h2,
.mdbody h3,
.mdbody h4,
.mdbody h5,
.mdbody h6 {
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
  color: #000;
}
.mdbody h1 {
  font-size: 18px;
//  border-left: 3px solid #dddddd;
//  text-indent: 10px;
}
.mdbody h2 {
  font-size: 18px;
}
.mdbody h3 {
  font-size: 16px;
}
.mdbody h4 {
  font-size: 15px;
}
.mdbody h5 {
  font-size: 13px;
}
.mdbody h6 {
  color: #777;
  font-size: 12px;
}
.mdbody p, .mdbody blockquote, .mdbody ul, .mdbody ol, .mdbody dl, .mdbody table, .mdbody pre {
  margin: 15px 0;
}

.mdbody li p.first {
  display: inline-block;
}
.mdbody ul, .mdbody ol {
  padding-left: 30px;
}
.mdbody ul.no-list, .mdbody ol.no-list {
  list-style-type: none;
  padding: 0;
}
.mdbody ul ul, .mdbody ul ol, .mdbody ol ol, .mdbody ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.mdbody dl {
  padding: 0;
}
.mdbody dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin-top: 15px;
}
.mdbody dl dd {
  margin-bottom: 15px;
  padding: 0 15px;
}
.mdbody blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
.mdbody blockquote>:first-child {
  margin-top: 0px;
}
.mdbody blockquote>:last-child {
  margin-bottom: 0px;
}
.mdbody table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  display: block;
}
.mdbody table th {
  font-weight: bold;
}
.mdbody table th, .mdbody table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.mdbody table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.mdbody table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.mdbody img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//top nav css
/*#toc {
  position: fixed;
  opacity: 1;
  left: 1%;
  top: 30%;
  z-index: 8;
  min-width: 130px;
  width: 175px;
  background: #d9d9d9
}*/
.toc-menu-p {
	max-height: calc(100% - 75px);
    position: fixed;
    font-family: 'Century Gothic', Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    max-width: 260px;
	overflow-y:auto;
}
#toc {
	position: relative;
	padding: 15px 0;
}
.toc-menu.toc-empty {
  display: none;
}
.toc-nav {
  list-style-type: none;
  height: auto;
  padding-left: 12px;
  overflow: hidden;
  margin: 0;
  position: relative;
}
.toc-nav ul {
  list-style: none;
  padding-left: 0;
  display: none;
  margin: 0;
}
.toc-nav a {
  text-decoration: none;
  color: #171717;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  display: block;
}
.toc-nav a:hover {
  color: #09b9ff;
}
.toc-nav li {
  text-indent: .5em;
  line-height: 1em;
  margin-bottom: .5em;
  margin-top: .5em;
  position: relative;
}
.toc-nav li.toc-active > a {
  color: #09b9ff;
}
.toc-h2 {
  padding-left: 0;
}
.toc-h2 > a {
  font-weight: bold;
}
.toc-h3 {
  padding-left:15px;
}
.toc-h4 {
  padding-left:30px;
}
li.toc-open>ul,.toc-active>ul {
  display: block;
}
.toc-nav-side {
  position: absolute;
  top: 0;
  left: 5px;
  width: 0;
  height: 100%;
  min-height: 40px;
  background-color: #ffffff;
  border: 1px solid #39c;
  border-top: 0;
  border-bottom: 0;
}
.toc-nav-top {
  position: absolute;
  left: -5px;
  top: 0;
  width: 6px;
  height: 6px;
  border: 2px solid #39c;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: content-box;
}
.toc-nav-bottom {
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 6px;
  height: 6px;
  border: 2px solid #39c;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: content-box;
}
.toc-nav-dot{
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #39c;
  font-size: 12px;
  left: -10px;
  top: 3px;
  box-sizing: content-box;
  cursor: pointer;
  overflow: hidden;
}
.toc-nav a:hover + .toc-nav-dot {
  background-color: #ffffff;
  border: 1px solid #ff5854;
}
.toc-active a:hover + .toc-nav-dot {
  border: none;
  background-color: transparent;
}
.toc-h3 .toc-nav-dot {
  display: none;
}
.toc-h3 a:hover + .toc-nav-dot {
  display: block;
  left: 1em;
  border: none;
  background-color: #39c;
}

.toc-h4 .toc-nav-dot {
  display: none;
}
.toc-h4 a:hover + .toc-nav-dot {
  display: block;
  left: 8px;
  border: none;
  background-color: #39c;
}
.toc-active a:hover + .toc-nav-dot {
  left: -12px;
  background-color: transparent;
}
.toc-nav-dot:hover {
  background: #e7ffe0;
  border: 1px solid #e3baff;
}
li.toc-active > .toc-nav-dot {
  background-color: #39c;
  left: -12px;
  top: 1px;
  width: 16px;
  height: 12px;
  display: block;
  background-image: url("../images/li_active.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
}
/*open style*/
.toc-depth-2 li.toc-h3,.toc-depth-2 li.toc-h4 {
  padding-left: 15px;
}
.toc-depth-2 .toc-active .toc-nav-dot,.toc-depth-2 .toc-h4.toc-active a:hover + .toc-nav-dot  {
  left: -27px;
}


/**
 * editor reset
 */

.simditor .simditor-body {
  font-size: 14px;
  line-height: 1.7;
  overflow: hidden;
  color: #090909;
  font-family: Georgia, "Times New Roman", Times, "Songti SC", "SimSun", serif;
}
.simditor .simditor-body p {
  font-size: 14px;
}
.simditor .simditor-body>*:first-child {
  margin-top: 0 !important;
}
.simditor .simditor-body>*:last-child {
  margin-bottom: 0 !important;
}
.simditor .simditor-body h1,
.simditor .simditor-body h2,
.simditor .simditor-body h3,
.simditor .simditor-body h4,
.simditor .simditor-body h5,
.simditor .simditor-body h6 {
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
  color: #000;
}
.simditor .simditor-body h1 {
  font-size: 18px;
}
.simditor .simditor-body h2 {
  font-size: 18px;
}
.simditor .simditor-body h3 {
  font-size: 16px;
}
.simditor .simditor-body h4 {
  font-size: 15px;
}
.simditor .simditor-body h5 {
  font-size: 13px;
}
.simditor .simditor-body h6 {
  color: #777;
  font-size: 12px;
}

.simditor .simditor-body p, .simditor .simditor-body blockquote, .simditor .simditor-body ul, .simditor .simditor-body ol, .simditor .simditor-body dl, .simditor .simditor-body table, .simditor .simditor-body pre {
  margin: 15px 0;
  font-size: 14px;
}

.simditor .simditor-body li p.first {
  display: inline-block;
}
.simditor .simditor-body ul, .simditor .simditor-body ol {
  padding-left: 30px;
}
.simditor .simditor-body ul.no-list, .simditor .simditor-body ol.no-list {
  list-style-type: none;
  padding: 0;
}
.simditor .simditor-body ul ul, .simditor .simditor-body ul ol, .simditor .simditor-body ol ol, .simditor .simditor-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.simditor .simditor-body dl {
  padding: 0;
}
.simditor .simditor-body dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin-top: 15px;
}
.simditor .simditor-body dl dd {
  margin-bottom: 15px;
  padding: 0 15px;
}
.simditor .simditor-body blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
.simditor .simditor-body blockquote>:first-child {
  margin-top: 0px;
}
.simditor .simditor-body blockquote>:last-child {
  margin-bottom: 0px;
}
.simditor .simditor-body img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.myeditor {
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px solid #bbc0ca;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0,0,0, .1);
  text-align: left;

  .mycontent {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 0 0 3px 3px;
  }

  .mycontent > iframe{
    border: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mycontent > div {
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute !important;
  }

.nav-tabs > li > a {
    border-radius: 0;
    color: #666;
    margin: 0;
  }
  .nav-tabs > li > a:hover {
    background: #f0f1f4;
  }
  .nav-tabs > li > a.active {
    background: #f0f1f4;
  }
  .code-view {
  }
  .code-view .code-pre {
//    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
//    font-size: 12px;
    background: #ddffdd;
    border: none;
    margin-bottom: 0;
  }

}


a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  margin-left: -1px;
  margin-right: -1px;
}

.dui-doc-banner {
//  background: url("images/head-banner.png");
//  background: #b84d45 url("../images/bg.png") repeat;
  background: #f2f2f2;
  margin-top: -20px;
  margin-bottom: 20px;
  .container {
    position: relative;
    padding: 20px;
  }

  a {
    display: block;
    float: right;
  }


  a img {
    width: 700px;
    float: right;
    opacity: 0.9;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-transition: opacity .3s
//    box-shadow: 0 0 1px rgba(128, 128, 128, 0.5);
  }
  a:hover img {
    opacity: 1;
    -webkit-transition: opacity .3s
  }
}


.big-avatar {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
  -webkit-box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
  box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
  background-repeat: no-repeat;
  background-position: center -2px;
  background-size: 85px;
}
.center {
  text-align: center;
}


/* Comments */
.comment-panel {
  margin-top: 50px;
}

.comment-list {
  background: #fff;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.comment-list li {
  list-style: none;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  .col-avatar {
    float: left;
  }

  .col-content {
    float: right;
    width: 800px;
  }
}
.comment-list li:last-child {
  border-bottom: none;
}
.comment-list li > div {
  max-width: 760px;
  min-height: 42px;
}
.comment-input {
  margin: 10px 0;
}

.f12 {
  font-size: 12px;
}
.grey {
  color: grey;
}

.avatar {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  //background: url(/img/short-hair.jpg) no-repeat center -2px;
  background-size: 42px;
  border-radius: 50%;
}


pre {
  padding: 0;
  margin: 0!important;
  background: transparent;
  border: none;
}

.home-dui {
	overflow: hidden;
	img {
		width: 100%;
		min-height: 270px;
		height: auto;
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
a.home-dui {
	display: block;
	position: relative;

	.dui-layer {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(36, 36, 58, 0.70);
		opacity: .5;
	}
	.home-dui-ui{
		width: 160px;
		height: 30px;
		line-height: 30px;
		padding-top: 80px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		color: #fff;
		font-size: 18px;
		font-style: normal;
		letter-spacing: .1em;
		&:before {
			content: 'UI';
			display: block;
			position: absolute;
			top: 0;
			left: 40px;
			right: 40px;
			bottom: 30px;
			height: 80px;
			line-height: 80px;
			border-radius: 50%;
			color: #666675;
			font-size: 50px;
			background-color: #fff;
		}
	}

	&:hover {
		.dui-layer {
			opacity: 1;
		}
		img {
			-webkit-transform: scale(1.1, 1.1);
			-moz-transform: scale(1.1, 1.1);
			-ms-transform: scale(1.1, 1.1);
			-o-transform: scale(1.1, 1.1);
			transform: scale(1.1, 1.1);
		}
	}
}