body {
    background: #eff2f8;
    font-size: 13px;
}

pre {
    border: 1px solid #ebedef;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #222 !important;
    font-family: Consolas, monospace;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    white-space: pre-wrap;
}
img {
    display: block;
    margin-top: 15px;
}
th, td {
    border-bottom: 1px solid #ddd !important;
    color: #222 !important;
}
th {
    font-family: Roboto, Arial;
    font-size: 11px;
    font-weight: 500 !important;
    padding: 7px 10px;
    text-transform: uppercase;
}
td {
    font-size: 13px;
    font-weight: 400;
    padding: 7px 10px;
    word-break: break-all;
}
i {
    cursor: default;
}
h5 {
    word-break: break-all;
}


span.author, span.category {
    border-radius: 12px;
    font-size: 12px;
    padding: 3px 8px;
}
span.author {
    border: 1px solid #9c27b0;
    color: #9c27b0 !important;
}
span.category {
    border: 1px solid #00aeef;
    color: #00aeef !important;
    cursor: pointer;
}



/*nav*/
nav, .side-nav {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
nav {
    padding-left: 70px;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, .logo a, nav label {
    background: #00BCD4;
    color: #fff;
    height: 48px;
    line-height: 46px;
}
nav ul li:hover {
    background: none;
}
nav ul li:hover {
    background: none;
}
.nav-right {
    margin-right: 35px;
}
.nav-right li {
    border-left: 1px solid #15d1e9;
    font-size: 12px;
    padding: 0 10px;
}
.nav-right li:first-child {
    border-left: none;
}
.nav-right li:last-child {
    border-right: 1px solid #15d1e9;
    margin-right: -12px;
}
.report-name {
    display: inline-block;
    padding-left: 25px;
}

/* -- [ side-nav ] -- */
.side-nav {
    background: #fff;
    width: 70px;
}
.side-nav li {
    display: block;
}
.side-nav .active, .side-nav .active, .analysis:hover {

}
.side-nav a, .side-nav label, .analysis i {
    font-size: 13px !important;
}
.analysis i {
    padding-right: 15px;
}
.side-nav .menu-toggle {
    background: #25cbe3;
    cursor: pointer;
    margin-right: -15px;
    padding: 0 24px !important;
}
.logo {
    background: #00bcd4;
    height: 48px;
}
.logo:hover {
    background: #00bcd4 !important;
}
.logo a {
    color: #fff !important;
}
.logo i {
    margin-top: 10px;
    padding: 0;
}

/* -- [ media queries ] -- */
@media all and (max-width: 992px) {
    nav {
        padding-left: 1%;
    }
    header, main, footer, .container {
        padding-left: 0;
    }
}